# Debug 文件和截图
debug/
*.png
*.jpg
*.jpeg

# 日志文件
*.log
go-service.log
maa*.log
mxu-*.log

# 大文件和编译产物
*.pdb
*.exe
*.dll
*.cache

# 系统文件
.DS_Store
Thumbs.db
cache/
.gitignore

# 用户配置
config/mxu-MaaBrownDust.json

# 大模型文件（如果用 Git LFS 或单独下载）
resource/model/ocr/

# 运行时文件
*.log
*.pdb
*.tmp